:root {
	--primary: #1e1e1e;
	--secondary: #f7f5ff;
	--tertiary: #ffe278;
	--quaternary: #4724d2;
	--body-font: "Arial";
	--header-font: "Arial Black";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--primary);
	color: var(--secondary);
	font-family: var(--body-font);
	font-size: 0.9em;
}

#index {
	background: url(../images/index/clouds.jpg) no-repeat center center fixed;
}

a {
	color: var(--secondary);
	text-decoration: none;
}

a:hover {
	color: var(--tertiary);
	text-shadow: 0px 0px 30px var(--tertiary);
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--header-font);
}

blockquote {
	margin: 0 0 10px 10px;
	padding: 0 0 0 10px;
	border-left: solid 1px var(--secondary);
}

nav, header {
	display: contents;
}

img, video {
	max-width: 100%;
	max-height: auto;
}

img:hover {
	transition: all 0.2s ease-in;
	-webkit-filter: brightness(130%); 
}

.pure-g > div {
	box-sizing: border-box;
}

.p-1 {
	padding: 1em;
}

.p-2 {
	padding: 2em;
}

.p-5 {
	padding: 5em;
}

.p-top-5 {
	padding-top: 5em;
}

.p-top-10 {
	padding-top: 10em;
}

.p-top-15 {
	padding-top: 15em;
}

.index-img {
	max-height: 12em;
}

.thesis-img {
	max-height: 10em;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.page-title { 
  text-transform: uppercase;
}

.staticrypt-hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid var(--secondary);
}

.staticrypt-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
	box-sizing: border-box;
}

.staticrypt-form {
	position: relative;
	z-index: 1;
	color: var(--primary);
	background: var(--secondary);
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0.5em 0.5em 0.9em  var(--tertiary);
	border-radius: 5px;
}

.staticrypt-form input[type="password"] {
	outline: 0;
	background: var(--secondary);
	border: 1px var(--primary);
	color: var(--primary);
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.staticrypt-form .staticrypt-decrypt-button {
	text-transform: uppercase;
	outline: 0;
	background: var(--quaternary);
	width: 100%;
	border: 0;
	padding: 15px;
	color: var(--secondary);
	font-size: 14px;
	cursor: pointer;
	border-radius: 5px;
}

.staticrypt-form .staticrypt-decrypt-button:hover, .staticrypt-form .staticrypt-decrypt-button:active, .staticrypt-form .staticrypt-decrypt-button:focus {
	background: var(--quaternary);
}

.staticrypt-html {
	height: 100%;
}

.staticrypt-body {
	height: 100%;
	margin: 0;
}

.staticrypt-content {
	height: 100%;
	background-color: var(--primary);
	font-family: var(--body-font);
}

.staticrypt-instructions {
	margin-top: -1em;
	margin-bottom: 1em;
}

.staticrypt-title {
	font-size: 1.5em;
}

label.staticrypt-remember {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}

.staticrypt-remember input[type=checkbox] {
	transform: scale(1.5);
	margin-right: 1em;
}

.hidden {
	display: none !important;
}

.staticrypt-spinner-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.staticrypt-spinner {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	vertical-align: text-bottom;
	border: 0.25em solid gray;
	border-right-color: transparent;
	border-radius: 50%;
	-webkit-animation: spinner-border .75s linear infinite;
	animation: spinner-border .75s linear infinite;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
	animation-name: spinner-border;
}

@keyframes spinner-border {
	100% {
		transform: rotate(360deg);
	}
}